
* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    height: 600px;
    background-position: center;
    background-size: cover;
}

.container {
    width: 50%;
    background-color: white;
    align-self: center;
    display: block;
    margin: 100px auto;
    /* box-shadow: 5px 10px 20px black; */
}

ul {
    margin: 0;
    border-left: 6px solid teal;
    list-style-type: none;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: whitesmoke;
    font-size: 18px;
    transition: 0.2s;
    user-select: none;
}

ul li:hover {
    background-color: #ddd;
} 

/* Allows for selective highlighting when scrolling */
ul li:nth-child(odd) {
    background: whitesmoke;
} 

ul li.checked {
    background: #888;
    color: white;
    text-decoration: line-through;
}

ul li.checked::before {
    content: "";
    position: absolute;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 0px 2px 2px 0px;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}